%h1= "Edit user"

=form_for @user, url: admin_user_path, html: {id: "new_user"} do |f|
  %p
    =f.label "Group"
    =f.collection_select :group_id, @allowed_groups, :id, :name, selected: @user.group_id
  %p
    =f.label :email
    =f.text_field :email

  %p
    =f.label :admin
    =f.check_box("admin")
  %p
    =f.submit

=link_to "Back", admin_users_path